@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap");
* {
  font-family: 'Merriweather', serif;
}

body {
  height: 100%;
  margin: 0;
}

/* Partie Footer */
footer {
  height: 100px;
  width: 100%;
  background-color: #227093;
  text-align: center;
  padding-top: 15px;
  font-size: 1.2rem;
}

footer ul {
  list-style: none;
}

footer li {
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
}

footer i {
  font-size: 30px;
}

footer a {
  color: #e66767;
}

header {
  height: 100px;
  width: 100%;
  background-color: #227093;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header ul {
  list-style: none;
}

header li {
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
}

header i {
  font-size: 40px;
  padding-top: 15px;
}

.logo {
  height: 50px;
  width: 150px;
  padding-top: 25px;
}

/* */
h1 {
  text-align: center;
  font-size: 2.1rem;
}

/* Partie se connecter */
.form_connect {
  width: 300px;
  height: 300px;
  margin: 30px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.form_connect h2 {
  padding-top: 20px;
}

.form_connect h2::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #4a69bd;
  margin-top: 30px;
}

/* Partie s'inscrire */
.form {
  width: 300px;
  height: 400px;
  margin: 30px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.form h2 {
  padding-top: 20px;
}

.form h2::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #4a69bd;
  margin-top: 30px;
}

.field {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 8px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin: 5px auto 15px auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #FFF;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

@media (min-width: 700px) {
  .form, .form_connect {
    width: 550px;
  }
  .field {
    width: 60%;
  }
}

@media (min-width: 1024px) {
  .form, .form_connect {
    width: 650px;
  }
  .field {
    width: 75%;
  }
}

/* Partie information utilisateur */
.info_utilisateur {
  padding: 10px 25px;
  margin: 150px 200px 200px 200px;
  border: 1px solid black;
}

/* Partie messages */
.message_utilisateur {
  width: 600px;
  height: 300px;
  margin: 30px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #FFF;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.message_utilisateur .votre_titre {
  padding-top: 10px;
}

.titre_msg_field {
  width: 70%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 8px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  margin: 5px auto 15px auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.titre_msg_field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.titre_msg_field:focus {
  background-color: #FFF;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

.msg_field {
  width: 70%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 8px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  margin: 5px auto 15px auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.msg_field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.msg_field:focus {
  background-color: #FFF;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

.lien_field {
  width: 70%;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 8px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  margin: 5px auto 15px auto;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.lien_field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.lien_field:focus {
  background-color: #FFF;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

/* */
.insc_ok {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 100px;
  margin-bottom: 320px;
}

.retour_acc {
  text-decoration: none;
  border: 1px #222 solid;
  padding: 5px;
  color: #227093;
}

/* Bouton envoyer du formulaire */
.btn {
  width: 40%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #4a69bd;
  cursor: pointer;
  outline: none;
  border: none;
  color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0c2461;
}

.btn_ajouter {
  width: 30%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #4a69bd;
  cursor: pointer;
  outline: none;
  border: none;
  color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_ajouter:hover {
  background-color: #0c2461;
}

.btn_publier {
  width: 30%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #4a69bd;
  cursor: pointer;
  outline: none;
  border: none;
  color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_publier:hover {
  background-color: #f13a43;
}

.btn_sup {
  width: 40%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #4a69bd;
  cursor: pointer;
  outline: none;
  border: none;
  color: #FFF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_sup:hover {
  background-color: #f13a43;
}
/*# sourceMappingURL=styles.css.map */