/* Partie messages */

.message_utilisateur {
    width: 600px;
    height: 300px;
    margin: 30px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FFF;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
    .votre_titre {
        padding-top: 10px;
    }
}

.titre_msg_field {
    width: 70%;
    height: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    margin: 5px auto 15px auto;
    transition: 0.3s;
}

.titre_msg_field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.titre_msg_field:focus {
    background-color: #FFF;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.msg_field {
    width: 70%;
    height: 75px;
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    margin: 5px auto 15px auto;
    transition: 0.3s;
}

.msg_field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.msg_field:focus {
    background-color: #FFF;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

.lien_field {
    width: 70%;
    height: 25px;
    display: flex;
    flex-direction: column;
    padding: 10px 8px;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0);
    background-color: rgba(230, 230, 230, 0.6);
    margin: 5px auto 15px auto;
    transition: 0.3s;
}

.lien_field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.lien_field:focus {
    background-color: #FFF;
    border: 2px solid rgba(30, 85, 250, 0.47);
}

/* */