/* Partie photo utilisateur */

.img_utilisateur {
    align-items: center;
}

/* Partie information utilisateur */

.info_utilisateur {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 260px;
}