/* Zone index */ 

.btn {
    width: 40%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #4a69bd;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.btn:hover {
    background-color: #0c2461;
}

/* Zone profil */

.btn_sup {
    width: 80%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-top: 10px;
    background-color: #4a69bd;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.btn_sup:hover {
    background-color: #f13a43;
}

.btn_modif {
    width: 80%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-top: 20px;
    background-color: #4a69bd;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.btn_modif:hover {
    background-color: #0c2461;
}

@media (min-width: 700px) {
    .btn_sup {
        width: 40%;
    }
    .btn_modif {
        width: 40%;
    }
}

/* Zone mur */

.btn_publier {
    width: 40%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #4a69bd;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

.btn_publier:hover, .btn_publier_comm:hover {
    background-color: #f13a43;
}

.btn_supp_message, .btn_supp_comm {
    width: 10%;
    background-color: #f13a43;
    cursor: pointer;
    outline: none;
    border: none;
    transition: 0.3s;
}

.btn_supp_message:hover, .btn_supp_comm:hover {
    background-color: #cc050f;
}

.btn_publier_comm {
    width: 30%;
    height: 30px;
    margin: auto;
    margin-bottom: 5px;
    font-size: 1.1rem;
    background-color: #4a69bd;
    cursor: pointer;
    outline: none;
    border: none;
    color: #FFF;
    transition: 0.3s;
}

@media (min-width: 700px) {
    .btn_publier_comm {
        width: 20%;
        height: 30px;
        margin: auto;
    }
}
