/* Partie Footer */

footer {
    height: 100px;
    width: 100%;
    background-color: #227093;
    text-align: center;
    padding-top: 5px;
    font-size: 1.1rem;
    a {
        color: #e66767;
    }
}